
MIN_UPDATE_INTERVAL_MINUTES=240
UPDATE_LIMIT=50 # update top 20 coin from Coinmarket Cap
IGNORE_STABLE_COINS=true

CMC_API_KEY=12faa2c3-45be-4ae9-827c-7638ef30f8d6

DEFAULT_RSI_INTERVAL="1d"

PROXY=true
PROXY_URL=socks5h://127.0.0.1:10808

SAVE_TO_JSON=true