
MIN_UPDATE_INTERVAL_MINUTES=240
UPDATE_LIMIT=50 # update top 20 coin from Coinmarket Cap
IGNORE_STABLE_COINS=true

CMC_API_KEY=ABCDEFG # CoinMarketCap API Key

DEFAULT_RSI_INTERVAL="1d"

PROXY=false
PROXY_URL=socks5h://127.0.0.1:1080

DB_PATH=data/rsi_data.db